﻿@page "/customers/create"
@using BlazorAppDataLayer.Models
@inject HttpClient HttpClient
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<PageTitle>Customers</PageTitle>

<h3>Create New Customer</h3>

<EditForm Model="@customer" OnValidSubmit="CreateCustomerAsync" FormName="customer-create">
    <div class="form-group mb-3">
        <label for="CompanyName">Company Title</label>
        <InputText @bind-Value="customer.CompanyName" class="form-control" id="CompanyName"></InputText>

        <label for="ContactName">Contact Name</label>
        <InputText @bind-Value="customer.ContactName" class="form-control" id="ContactName"></InputText>

        <label for="Address">Contact Address</label>
        <InputText @bind-Value="customer.Address" class="form-control" id="Address"></InputText>
        
        <label for="City">Contact City</label>
        <InputText @bind-Value="customer.City" class="form-control" id="City"></InputText>
        
        <label for="Region">Contact Region</label>
        <InputText @bind-Value="customer.Region" class="form-control" id="Region"></InputText>
        
        <label for="PostalCode">Contact PostalCode</label>
        <InputText @bind-Value="customer.PostalCode" class="form-control" id="PostalCode"></InputText>
        
        <label for="Country">Contact Country</label>
        <InputText @bind-Value="customer.Country" class="form-control" id="Country"></InputText>
        
        <label for="Phone">Contact Phone</label>
        <InputText @bind-Value="customer.Phone" class="form-control" id="Phone"></InputText>
    </div>
    
    <DataAnnotationsValidator/>
    <ValidationSummary/> 
    
    <button class="btn btn-success" type="submit">Create</button>
</EditForm>

@code {
    public Customer customer = new Customer();

    private async Task CreateCustomerAsync()
    {
        var response = await HttpClient.PostAsJsonAsync("https://localhost:7287/api/customers", customer);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/customers");
        }
        else
        {
            string errorMessage = $"Failed to create a new customer!";
            await JsRuntime.InvokeVoidAsync("alert", errorMessage);
        }
    }
}
