﻿@page "/customers/edit"
@using BlazorAppDataLayer.Models
@using System.Web
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager


<PageTitle>Customers</PageTitle>

<h3>@Title Customer</h3>

<EditForm Model="@Customer" OnValidSubmit="SaveCustomerAsync" FormName="customer-update">
    <DataAnnotationsValidator />

    <div class="form-group mb-3">

        <div class="mb-3">
            <label for="CompanyName" class="form-label">Company Title</label>
            <div class="col-md-4">
                <InputText @bind-Value="Customer.CompanyName" class="form-control" id="CompanyName"></InputText>
            </div>
            <ValidationMessage For="@(() => Customer.CompanyName)"/>
        </div>

        <div class="mb-3">
            <label for="ContactName" class="form-label">Contact Name</label>
            <div class="col-md-4">
                <InputText @bind-Value="Customer.ContactName" class="form-control" id="ContactName"></InputText>
            </div>
            <ValidationMessage For="@(() => Customer.ContactName)"/>
        </div>

        <div class="mb-3">
            <label for="Address" class="form-label">Contact Address</label>
            <div class="col-md-4">
                <InputText @bind-Value="Customer.Address" class="form-control" id="Address"></InputText>
            </div>
            <ValidationMessage For="@(() => Customer.Address)"/>
        </div>

        <div class="mb-3">
            <label for="City" class="form-label">Contact City</label>
            <div class="col-md-4">
                <InputText @bind-Value="Customer.City" class="form-control" id="City"></InputText>
            </div>
            <ValidationMessage For="@(() => Customer.City)"/>
        </div>

        <div class="mb-3">
            <label for="Region" class="form-label">Contact Region</label>
            <div class="col-md-4">
                <InputText @bind-Value="Customer.Region" class="form-control" id="Region"></InputText>
            </div>
            <ValidationMessage For="@(() => Customer.City)"/>
        </div>

        <div class="mb-3">
            <label for="PostalCode" class="form-label">Contact PostalCode</label>
            <div class="col-md-4">
                <InputText @bind-Value="Customer.PostalCode" class="form-control" id="PostalCode"></InputText>
            </div>
            <ValidationMessage For="@(() => Customer.PostalCode)"/>
        </div>

        <div class="mb-3">
            <label for="Country" class="form-label">Contact Country</label>
            <div class="col-md-4">
                <InputText @bind-Value="Customer.Country" class="form-control" id="Country"></InputText>
            </div>
            <ValidationMessage For="@(() => Customer.Country)"/>
        </div>

        <div class="mb-3">
            <label for="Phone" class="form-label">Contact Phone</label>
            <div class="col-md-4">
                <InputText @bind-Value="Customer.Phone" class="form-control" id="Phone"></InputText>
            </div>
            <ValidationMessage For="@(() => Customer.Phone)"/>
        </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/customers" class="btn btn-light">Cancel</a>
    </div>
</EditForm>

@code {
    protected Customer Customer = new();
    protected string? CustomerId = string.Empty;
    protected string Title = "Create";

    protected override async Task OnParametersSetAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        CustomerId = HttpUtility.ParseQueryString(uri.Query).Get("id");

        if (!string.IsNullOrEmpty(CustomerId))
        {
            Title = "Edit";

            using var client = ClientFactory.CreateClient();
            var response = await client.GetAsync($"https://localhost:7287/api/customers?id={CustomerId}");

            if (response.IsSuccessStatusCode)
            {
                var customers = await response.Content.ReadFromJsonAsync<List<Customer>>();
                Customer = customers.FirstOrDefault();
            }
        }
    }

    protected async Task SaveCustomerAsync()
    {
        using var client = ClientFactory.CreateClient();
        HttpResponseMessage response;

        if (string.IsNullOrEmpty(CustomerId))
        {
            response = await client.PostAsJsonAsync("https://localhost:7287/api/customers", Customer);
        }
        else
        {
            response = await client.PutAsJsonAsync("https://localhost:7287/api/customers", Customer);
        }
        
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/customers");
        }
    }
}
