﻿@page "/customers"
@using BlazorAppDataLayer.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IHttpClientFactory ClientFactory
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<PageTitle>Customers</PageTitle>

<h3>Customers</h3>

@if (customers == null)
{
    <span>Loading...</span>
}
else if (customers.Count == 0)
{
    <span>No customers found!</span>
}
else
{
        //with client side pagination
     <QuickGrid Items="customers.AsQueryable()" Pagination="pagination">
        <PropertyColumn Property="@(customer => customer.Id)"/>
        <PropertyColumn Property="@(customer => customer.CompanyName)"/>
        <PropertyColumn Property="@(customer => customer.ContactName)"/>
        <PropertyColumn Property="@(customer => customer.Address)"/>
        <PropertyColumn Property="@(customer => customer.City)"/>
        <PropertyColumn Property="@(customer => customer.Region)"/>
        <PropertyColumn Property="@(customer => customer.PostalCode)"/>
        <PropertyColumn Property="@(customer => customer.Country)"/>
        <PropertyColumn Property="@(customer => customer.Phone)"/>
        <TemplateColumn>
            <div>
                <a href="/customers/edit?id=@context.Id" class="btn btn-warning btn-lg w-100 my-2">Update</a>
                <button @onclick="@(() => DeleteAsync(context))" class="btn btn-danger btn-lg w-100 my-2">Delete</button>
            </div>
        </TemplateColumn>
    </QuickGrid> 

    //with server side pagination
@*     <QuickGrid ItemsProvider="@customersProvider" Virtualize="true" Pagination="@pagination" @ref="grid">
        <PropertyColumn Property="@(customer => customer.Id)"/>
        <PropertyColumn Property="@(customer => customer.CompanyName)"/>
        <PropertyColumn Property="@(customer => customer.ContactName)"/>
        <PropertyColumn Property="@(customer => customer.Address)"/>
        <PropertyColumn Property="@(customer => customer.City)"/>
        <PropertyColumn Property="@(customer => customer.Region)"/>
        <PropertyColumn Property="@(customer => customer.PostalCode)"/>
        <PropertyColumn Property="@(customer => customer.Country)"/>
        <PropertyColumn Property="@(customer => customer.Phone)"/>
        <TemplateColumn>
            <div>
                <a href="/customers/edit?id=@context.Id" class="btn btn-warning btn-lg w-100 my-2">Update</a>
                <button @onclick="@(() => DeleteAsync(context))" class="btn btn-danger btn-lg w-100 my-2">Delete</button>
            </div>
        </TemplateColumn>
    </QuickGrid> *@

    <Paginator State="pagination"></Paginator>


}
<a href="/customers/edit" class="btn btn-success bnt-lg w-100 my-4">Create New Customer</a>

@code {
    List<Customer> customers = new List<Customer>();
    PaginationState pagination = new() { ItemsPerPage = 5 };
    QuickGrid<Customer>? grid;
    GridItemsProvider<Customer>? customersProvider;

    protected override async Task OnInitializedAsync()
    {
        // server side pagination NOT WORKING https://aspnet.github.io/quickgridsamples/virtualizing
        // customersProvider = async req =>
        // {
        //     var response = await Http.GetFromJsonAsync<List<Customer>>($"https://localhost:7287/api/customers?pageNumber={req.StartIndex}&pageSize={req.Count}", req.CancellationToken);
        //     return GridItemsProviderResult.From(items: response, totalItemCount: 5);
        // };

        // client side pagination https://aspnet.github.io/quickgridsamples/paging
        using var client = ClientFactory.CreateClient();
        customers = await client.GetFromJsonAsync<List<Customer>>("https://localhost:7287/api/customers");
    }

    protected async Task DeleteAsync(Customer customer)
    {
        using var client = ClientFactory.CreateClient();
        var response = await client.DeleteAsync($"https://localhost:7287/api/customers?id={customer.Id}");
        if (response.IsSuccessStatusCode)
        {
            customers.Remove(customer);
        }
        else
        {
            string errorMessage = $"Failed to delete the customer!";
            await JsRuntime.InvokeVoidAsync("alert", errorMessage);
        }
    }

}
